.character-card {
  background-color: #41b4c9;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(65, 180, 201, 0.2) inset,
    0 0 10px rgba(191, 222, 66, 0.9);
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 75%;
  color: #203745;
}

.character-card:hover {
  background-color: #bfde42;
  color: #fff;
  border-color: #41b4c9;
  box-shadow: 0 0 10px rgba(65, 180, 201, 0.2) inset,
    0 0 10px rgba(65, 180, 201, 0.9);
  transition: 0.5s;
}

.character-card:active {
  background-color: #41b4c9;
  color: #fff;
  border-color: #bfde42;
  box-shadow: 0 0 10px rgba(65, 180, 201, 0.2) inset,
    0 0 10px rgba(65, 180, 201, 0.9);
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.info-bar {
  width: 90%;
  height: 10%;
  margin: 0 auto;
}
